In [1]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [2]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [2]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

,Age,Eduacation,Race,Hisp,MaritalStatus,Nodeg,Earnings_1974,Earnings_1975,Earnings_1978
0,45,LessThanHighSchool,NotBlack,NotHispanic,Married,1,21516.670,25243.550,25564.670
1,21,Intermediate,NotBlack,NotHispanic,NotMarried,0,3175.971,5852.565,13496.080
2,38,HighSchool,NotBlack,NotHispanic,Married,0,23039.020,25130.760,25564.670
3,48,LessThanHighSchool,NotBlack,NotHispanic,Married,1,24994.370,25243.550,25564.670
4,18,LessThanHighSchool,NotBlack,NotHispanic,Married,1,1669.295,10727.610,9860.869

### Challenge 1 - Magnitude of Range

In [7]:
print(df['Nodeg'].min(), df['Nodeg'].max())
print(df['Earnings_1974'].min(), df['Earnings_1974'].max())
print(df['Earnings_1975'].min(), df['Earnings_1975'].max())
print(df['Earnings_1978'].min(), df['Earnings_1978'].max())

0 1
0.0 25862.32
0.0 25243.55
0.0 25564.67

### Challenge 2 - Percent of Values Above a Value

In [17]:
def PercentileRank(data, your_score):
    count = 0
    for score in data:
        if score <= your_score:
            count += 1

    percentile_rank = 100.0 * count / len(data)
    return percentile_rank

prob=PercentileRank(df['Earnings_1974'],20000)
print(100-prob)
prob=PercentileRank(df['Earnings_1978'],25000)
print(100-prob)
#median earning of people's earning in 1975
print('median:',df['Earnings_1975'].median())

prob=PercentileRank(df['Earnings_1978'],df['Earnings_1975'].median())
print(100-prob)

35.76788394197098
27.282391195597796
median: 14557.11
55.21510755377689

### Challenge 3 - Mean of Differences

In [23]:
#What is the mean of the differences between Earnings_1975 and Earnings_1975?
difference=df['Earnings_1975'].mean()-df['Earnings_1975'].mean()
print(difference)
difference1=df['Earnings_1974'].mean()-df['Earnings_1978'].mean()
print(difference1)

0.0
-829.8593687148423

### Challenge 4 - Count of Values in Range

In [47]:
a=df[df['Earnings_1974']<10000]
b=df[df['Earnings_1974']>15000]
c=df['Age'].count()
print(a['Age'].count())
print(b['Age'].count())
print(df['Age'].count())

5895
8043
15992

In [48]:
a=df[df['Age']<18]
b=df[df['Earnings_1974']>49]
c=df['Age'].count()
print(a['Age'].count())
print(b['Age'].count())
print(df['Age'].count())

733
14039
15992

In [62]:

df1 = df[df['Age'].between(20, 29)]
print(df['Earnings_1978'].mean())
print(df['Earnings_1978'].median())
df2=df1[df1['Earnings_1978'].between(14846.659672906011,16421.975)]
df2.describe()

14846.659672906011
16421.975

              Age       Nodeg  Earnings_1974  Earnings_1975  Earnings_1978
count  297.000000  297.000000     297.000000     297.000000     297.000000
mean    24.087542    0.158249   11011.455427   11412.860830   15592.119933
std      2.857969    0.365590    6389.168447    5957.487438     450.626287
min     20.000000    0.000000       0.000000       0.000000   14851.150000
25%     22.000000    0.000000    5644.648000    7472.806000   15193.980000
50%     24.000000    0.000000   11500.900000   12235.060000   15576.720000
75%     27.000000    0.000000   15576.170000   14967.100000   15952.060000
max     29.000000    1.000000   25862.320000   25243.550000   16407.200000

### Challenge 5 - Basic Stats Calculations

In [52]:
print(df['Earnings_1974'].var())
print(df['Earnings_1975'].var())
print(df['Earnings_1978'].var())

91580993.44097105
85940375.95151532
93072163.22421418

In [55]:
print(df['Earnings_1974'].mean()-df['Earnings_1974'].median())
print(df['Earnings_1975'].mean()-df['Earnings_1975'].median())
print(df['Earnings_1978'].mean()-df['Earnings_1978'].median())

-1106.779695808831
-906.3066239268392
-1575.3153270939874

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```